<header class="masthead" <!-- style="background-image: url('img/home-bg.jpg') -->">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>
            <% if @blog %>
              <%= @blog.title %>
            <% elsif @blogs %>
              Prlina Blog
            <% else %>
              Topics
            <% end %>
          </h1>
          <span class="subheading">
            <% if @blogs %>
              Petar's very own personal blog!
            <% elsif @blog  %>
              Written By:
              <%= @blog.user.first_name %>
            <% elsif @topic || @topics %>
              Hundreds of topics to choose from!
            <% else %>
              Creation shall begin!
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>