<% if comment.id %>
<div class="comment-card">
<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-11">
        <div>
          <%= comment.body %>
        </div>
        <div class="post-preview">
          <div class="post-meta">
            Comment posted by <%= comment.user.first_name %> <%= distance_of_time_in_words comment.created_at, Time.now %> ago
          </div>
          <div><%= link_to 'Delete', [comment.blog, comment], method: :delete, data: {confirm: 'Are you sure?'}  %></div>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>
<% end %>