<h1>Contact Form Submitted</h1>
<br>
<p>Subject: <%= @contact.subject %></p>
<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Message: <%= @contact.message %></p>
<p>Sincerely,</p>
<p>The Contact Mailer</p>